[submodule "libtorrent"]
	path = libtorrent
	url = https://github.com/arvidn/libtorrent.git
[submodule "client/cli/cli-creator"]
	path = client/cli/cli-creator
	url = https://github.com/Raisess/cli-creator.git
